/*custom toolbar*/
@import url("//objectiveslayer.github.io/bd-snippets/customizable-toolbar.css");
/*radial status*/
@import url("https://discordstyles.github.io/SoftX/RadialGlow.css");
/*redesigned inbox*/
@import url("https://maendisease.github.io/BetterDiscordStuff/css/bearableInbox.css");
/*replace 'Emoji' with your choice; (Apple, Facebook, Google, JoyPixels, Microsoft, OpenMoji, Samsung, WhatsApp) case sensetive*/
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Google.css");
/*discord links display like discord's interactive items*/
@import url("https://thecommieaxolotl.github.io/BetterDiscord-Stuff/Imports/DiscordLinks.css");
/*compact right click settings*/
@import url("https://minidiscordthemes.github.io/Snippets/EfficientSettings/EfficientSettings.css");
/*settings modal*/
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css");

/*settings modal*/
:root {
  /*default: transparent (lowest bg color of changed windows, change it in case another theme turns them transparent)*/
  --settingsmodalbackground: transparent;
  /*default: 960px (width of the settings modal, px/vw)*/
  --settingsmodalwidth: 1000px;
  /*default: 80vh	(height of the settings modal, px/vh)*/
  --settingsmodalheight: 80vh;
}

/*bottom right corner image*/
body:before {
  position: fixed;
  bottom: 12px;
  right: 9px;
  width: 32px;
  height: 32px;
  margin: 2px;
  z-index: 999;
  content: url("https://cdn.discordapp.com/emojis/814620530816581672.webp?size=32&quality=lossless");
  pointer-events: none;
}

/*home icon hover effect*/
.homeIcon-r0w4ny > path {
  d: path(
    "M23.0212 1.67671C21.3107 0.879656 19.5079 0.318797 17.6584 0C17.4062 0.461742 17.1749 0.934541 16.9708 1.4184C15.003 1.12145 12.9974 1.12145 11.0283 1.4184C10.819 0.934541 10.589 0.461744 10.3368 0.00546311C8.48074 0.324393 6.67795 0.885118 4.96746 1.68231C1.56727 6.77853 0.649666 11.7538 1.11108 16.652C3.10102 18.1418 5.3262 19.2743 7.69177 20C8.22338 19.2743 8.69519 18.4993 9.09812 17.691C8.32996 17.3997 7.58522 17.0424 6.87684 16.6135C7.06531 16.4762 7.24726 16.3387 7.42403 16.1847C11.5911 18.1749 16.408 18.1749 20.5763 16.1847C20.7531 16.3332 20.9351 16.4762 21.1171 16.6135C20.41 17.0369 19.6639 17.3997 18.897 17.691C19.3052 18.4993 19.7718 19.2689 20.3021 19.9945C22.6677 19.2689 24.8929 18.1364 26.8828 16.6466H26.8893C27.43 10.9731 25.9665 6.04728 23.0212 1.67671ZM9.68041 13.6383C8.39754 13.6383 7.34085 12.4453 7.34085 10.994C7.34085 9.54272 8.37155 8.34973 9.68041 8.34973C10.9893 8.34973 12.0395 9.54272 12.0187 10.994C12.0187 12.4453 10.9828 13.6383 9.68041 13.6383ZM18.3161 13.6383C17.0332 13.6383 15.9765 12.4453 15.9765 10.994C15.9765 9.54272 17.0124 8.34973 18.3161 8.34973C19.6184 8.34973 20.6751 9.54272 20.6543 10.994C20.6543 12.4453 19.6184 13.6383 18.3161 13.6383Z"
  );
  transform: scale(1.1) translate(-1.5px, -1px);
  transition: all 0.2s ease-in-out;
}

.wrapper-3kah-n.selected-1Drb7Z:has([d^="M23.0212"]) .homeIcon-r0w4ny path {
  fill: #2b7cf6;
}

.wrapper-3kah-n.selected-1Drb7Z:has([d^="M23.0212"]) .childWrapper-1j_1ub {
  background: var(--background-primary) !important;
}

.wrapper-3kah-n.selected-1Drb7Z:has([d^="M23.0212"])
  .childWrapper-1j_1ub::after {
  background-color: #2b7cf6;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  filter: blur(10px);
  opacity: 0.4;
}

/*heart icon favorites hover effect*/
.favoriteIcon-2kWmTP > path {
  d: path(
    "M16.44 3.10156C14.63 3.10156 13.01 3.98156 12 5.33156C10.99 3.98156 9.37 3.10156 7.56 3.10156C4.49 3.10156 2 5.60156 2 8.69156C2 9.88156 2.19 10.9816 2.52 12.0016C4.1 17.0016 8.97 19.9916 11.38 20.8116C11.72 20.9316 12.28 20.9316 12.62 20.8116C15.03 19.9916 19.9 17.0016 21.48 12.0016C21.81 10.9816 22 9.88156 22 8.69156C22 5.60156 19.51 3.10156 16.44 3.10156Z"
  );
  transform: scale(1.1) translate(-1.5px, -1px);
  transition: all 0.2s ease-in-out;
}

.wrapper-3kah-n.selected-1Drb7Z .favoriteIcon-2kWmTP path {
  fill: #f62b30;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub {
  background: var(--background-primary) !important;
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub::after {
  background-color: #f62b30;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  filter: blur(10px);
  opacity: 0.4;
}

/*-----radial status-----*/
:root {
  /*gap between avatar and status for memberslist/dms | MUST end in px*/
  --rs-small-spacing: 1px;
  /*gap between avatar and status for User popout | MUST end in px*/
  --rs-medium-spacing: 1px;
  /*gap between avatar and status for User profiles | MUST end in px*/
  --rs-large-spacing: 1px;
  /*ring width | default: 1.5px*/
  --rs-small-width: 1.5px;
  /*ring width | default: 1.5px*/
  --rs-medium-width: 2px;
  /*ring width | default: 1.5px*/
  --rs-large-width: 2.5px;
  /*50% for round - 0% for square*/
  --rs-avatar-shape: 50%;
  /*colour for online status*/
  --rs-online-color: #35a55c;
  /*colour for idle status*/
  --rs-idle-color: #ecb13a;
  /*colour for dnd status*/
  --rs-dnd-color: #eb3d41;
  /*colour for offline status*/
  --rs-offline-color: #3d4044;
  /*colour of the ring and phone icon when a user is on their phone*/
  --rs-phone-color: var(--rs-online-color);
  /*colour for streaming status*/
  --rs-streaming-color: #6600ff;
  /*visibility of the phone icon next to a users avatar. | block = visible | none = hidden*/
  --rs-phone-visible: none;
  /*colour for invisible status - note: this will only show for your own invisibility*/
  --rs-invisible-color: #747f8d;
}

.userPopoutOuter-1OHwPL .wrapper-3Un6-K foreignObject,
.userPopoutOuter-1OHwPL .avatarHint-k7pYop foreignObject {
  mask: none;
  border-radius: 10%;
}

.avatarHint-k7pYop {
  border-radius: 10%;
}

.bannerSVGWrapper-2CLfzN foreignObject {
  mask: none;
}

.avatarWrapper-eenWra foreignObject {
  mask: none;
  overflow: visible;
}

/*modify display of edited and deleted tags from MessageLogger plugin*/
.messagelogger-edited time span {
  font-size: 0;
  line-height: 1;
  user-select: none;
}

.messagelogger-edited time span:before {
  font-size: 0.625rem;
  content: "✏️  ";
  filter: grayscale();
  display: inline-block;
  transform: scaleX(-1);
}

.messagelogger-deleted time span {
  font-size: 0;
  line-height: 1;
  user-select: none;
}

.messagelogger-deleted time span:first {
  font-size: 0.625rem;
  content: "🗑️  ";
  display: inline-block;
  transform: scaleX(-1);
}

/*-----hide annoying nitro stuff-----*/
/*hide nitro button above DM list*/
[class^="channel-"]>div>[href="/store"],
/*hide gift button*/
[class^="channelTextArea"] [class^="buttons-"]>button,
/*hide banner nitro upsell header*/
[class^="upsellVisible-"],
/*hide nitro icon on banners*/
[class^="premiumIconWrapper"],
/*"send longer messages with discord nitro!"*/
[class^="characterCount-"] [class*="upsell-"],
/*"get nitro" button in emoji/sticker modal"*/
[class^="emojiSection-"] [class*="shinyButton-"],
/*try nitro banner section on profile editor*/
[class*="tryItOutSection-"],
/*"unlock banner" in profile editor*/
[class*="bannerNitroUpsell-"],
[class^="imageUploaderHint-"],
[id$=reaction-1],
/*super react button*/
[aria-label='add super reaction'i] {
  display: none !important;
}

/*make active now in friends page appear regardless of window size*/
.nowPlayingColumn-1eCBCN {
  display: block !important;
}

/*transparent and blurred tooltips*/
#app-mount .tooltip-33Jwqe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.667);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
  border: solid 1px #080909;
}

/*remove buttons next to channel names*/
.actionIcon-2sw4Sl {
  display: none;
}

/*transparent and blurred reaction tooltips*/
#app-mount .reactionTooltip-3IOBwg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.667);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
  border: solid 1px #080909;
}

#app-mount .reactionTooltip-3IOBwg .tooltipPointer-sMBQqe {
  border-top-color: rgba(0, 0, 0, 0.5);
}

.button-ejjZWC.lookFilled-1H2Jvj.colorBrand-2M3O3N.sizeMin-3Yqxk5.grow-2T4nbg
  > .contents-3NembX {
  padding: 2px 2px 0 2px;
}

/*custom toolbar - block=show, none=hide*/
:root {
  /*servers & DM's*/
  --threads-icon: none;
  --notifications-settings-icon: none;
  --pinned-messages-icon: block;
  --memberlist-icon: block;
  --search-bar: block;
  --inbox-icon: block;
  --help-icon: none;

  /*DM's & group-chats*/
  --voice-call-icon: none;
  --video-call-icon: none;
  --add-friends-to-dm-icon: none;
  --user-profile-icon: block;
}

/*hide help button on home page*/
.base-2jDfDU .toolbar-3_r2xA a {
  display: none;
}

/*user buttons panel redesign*/
.container-YkUktl {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  height: 80px;
  padding: 0px;
  margin: 0px;
}

button:hover {
  color: var(--interactive-hover);
  background-color: var(--background-modifier-selected) !important;
}

.container-YkUktl .flex-2S1XBF {
  grid-column: 1/-1;
}

.container-YkUktl button {
  background: var(--background-primary);
  border-radius: var(--radius-secondary);
  width: 100%;
  height: 35px;
}

.container-YkUktl .avatarWrapper-1B9FTW {
  width: 220px;
  height: 38px;
  margin: 3px;
  padding-left: 4px;
  border-radius: 10px;
}

/*transparent and blurred context menus*/
.menu-2TXYjN {
  position: relative;
  background: none;
  border-radius: 10px;
}

.menu-2TXYjN:not(.flexible-3B4jwn.menu-KSaHL1)::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.667);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
  border: solid 1px #080909;
}

.button-1zW0-r,
.button-1zW0-r:hover {
  background: none;
  backdrop-filter: blur(5px);
}

.item-5ApiZt {
  border-radius: 6px;
}

/*role borders that match role color*/
:root {
  /*change the 0 to any other number if you want the roles to be fully round*/
  --roles-roundness: 0;
  --roles-roundness-calc: calc((var(--roles-roundness) + 0.21) * 25px);
}

.role-2TIOKu {
  transform: translate(0);
  border: 0;
  border-radius: var(--roles-roundness-calc);
}

.role-2TIOKu .roleRemoveIcon-387wKV {
  margin: 0;
  left: unset;
  transform: translate(50%, -50%);
}

.role-2TIOKu .roleRemoveButton-17oXnT {
  position: static;
}

.role-2TIOKu .roleCircle-3TFUOr:before {
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  background: inherit;
  border-radius: var(--roles-roundness-calc);
  border: 2px solid transparent;
  -webkit-mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
}

/*user button panel animations*/
.button-12Fmur .contents-3NembX {
  transform: rotate(0deg);
  transition: transform 0.3s;
}

.button-12Fmur:hover .contents-3NembX {
  transform: rotate(30deg);
}

.button-12Fmur:hover .contents-3NembX svg {
  height: 28px !important;
  width: 28px !important;
}

.button-12Fmur .contents-3NembX svg {
  transition: width 0.3s, height 0.3s;
}

/*search bar minimized until hover*/
:root {
  --transitionspeed: 0.3s;
}

.search-2Mwzzq:not(.open-1F8u2c) .searchBar-jGtisZ {
  width: 27px;
  transition: var(--transitionspeed);
  background-color: transparent;
}

.search-2Mwzzq:not(.open-1F8u2c):hover .searchBar-jGtisZ {
  width: 170px;
  background-color: var(--background-tertiary);
}

.search-2Mwzzq:not(.open-1F8u2c) .iconContainer-1RqWJj {
  transform: scale(1.3);
  transition: var(--transitionspeed);
}

.search-2Mwzzq:not(.open-1F8u2c):hover .iconContainer-1RqWJj {
  transform: scale(1);
}

.search-2Mwzzq:not(.open-1F8u2c) .icon-18rqoe {
  color: var(--text-normal);
}

.search-2Mwzzq:not(.open-1F8u2c):hover .icon-18rqoe {
  color: var(--text-muted);
}

/*custom image in vencord settings*/
.vc-settings-card > img {
  display: none;
}

.vc-settings-card::after {
  background-image: url("https://cdn.discordapp.com/attachments/547262490493321267/1100701119937785937/emoji.gif");
  height: 142px;
  margin-left: auto;
  width: 128px;
  content: "";
  background-size: 128px;
}

/*make quotes look nicer*/
:root {
  --quote-divider-color: #5865f2;
  --quote-vertical-spacing: 4px;
  --quote-horizontal-spacing: 10px;
  --quote-background-color: #0c0c0d;
  --quote-border-radius: 6px;
}

[class*="blockquoteDivider-"] {
  background-color: var(--quote-divider-color);
}

[class*="markup-"] blockquote {
  padding: var(--quote-vertical-spacing) var(--quote-horizontal-spacing);
  background-color: var(--quote-background-color);

  border-top-right-radius: var(--quote-border-radius);
  border-bottom-right-radius: var(--quote-border-radius);
}

/*-----aligned chatbox-----*/
/*align edges of chatbox to sides*/
:is(main, section)[class^="chatContent"] > form {
  padding: 0px;
}

/*align chatbox to bottom*/
:is(main, section)[class^="chatContent"] > form > *:first-child {
  margin-bottom: 0px;
}

/*center chatbox contents, no border radius*/
:is(main, section)[class^="chatContent"] > form > *:first-child > * {
  padding-top: 4px;
  min-height: 49px;
  border-radius: 0px;
}

/*slowmode/typing indicator*/
:is(main, section)[class^="chatContent"]
  > form
  > *:last-child[class^="typing"] {
  top: -24px;
  right: 0px;
  margin-left: auto;
  width: fit-content;
  padding-left: 2px;
  padding-right: 5px;
  border-top-left-radius: 5px;
  background-color: var(--channeltextarea-background);
}

/*jump to present*/
[class^="jumpToPresentBar"] {
  left: 0;
  border-radius: 0px;
  border-top-right-radius: 5px;
  opacity: 1;
  background-color: var(--channeltextarea-background);
  right: unset;
}

[class^="jumpToPresentBar"] > [class^="barButtonMain"] {
  flex: 0 0 auto;
  display: none;
}

/*fix replies*/
main[class^="chatContent"] > form > * > [class^="attachedBars"] {
  min-height: unset !important;
  padding-bottom: 4px;
}

/*chat textfield buttons (emoji, gif, etc) hidden in a drawer menu until hovered over*/
.buttons-uaqb-5 {
  overflow: hidden;
  position: absolute;
  justify-content: flex-end;
  background: #0c0c0d50;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  transition: all 350ms;
}

.buttons-uaqb-5:where(:not(:hover)) {
  max-width: 35px;
  right: 7px;
}

.buttons-uaqb-5::before {
  opacity: 0%;
  transition: opacity 150ms;
  position: absolute;
  top: 6px;
  content: url("https://cdn.discordapp.com/emojis/908976411069530173.webp?size=32&quality=lossless");
  display: block;
  object-fit: cover;
  height: 32px;
  width: 32px;
}

.buttons-uaqb-5:where(:not(:hover))::before {
  opacity: 100%;
  transition: opacity 350ms;
}

.buttons-uaqb-5:hover {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  max-width: 100%;
  right: 6px;
  top: -1px;
  transition: all 150ms;
  background: rgba(0, 0, 0, 0.667);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
  border: solid 1px #0f0f0f;
}

.buttons-uaqb-5 > div,
.buttons-uaqb-5 > button {
  transform: scaleX(0%) !important;
  opacity: 0%;
}

.buttons-uaqb-5:hover > div,
.buttons-uaqb-5:hover > button {
  transform: scaleX(100%) !important;
  opacity: 100%;
}

.buttons-uaqb-5 > div:hover svg,
.buttons-uaqb-5 > button:hover svg {
  height: 28px !important;
  width: 28px !important;
  margin-right: -2px;
  margin-left: -2px;
}

.buttons-uaqb-5 > div:nth-last-child(2):hover > button > div > div > svg {
  margin-right: -4px;
  margin-left: -4px;
}

.buttons-uaqb-5 > div svg,
.buttons-uaqb-5 > button svg {
  transition: all 0.3s;
}

/*-----spotify player-----*/
/*spotify player controls redesign*/
#vc-spotify-player {
  --spotify-wave-width: 240px;
  --spotify-vencord-color: #020202;
  --spotify-vencord-text: white;
}

#vc-spotify-player#vc-spotify-player {
  border-bottom: none;
  /*, .vc-spotify-time-right, .vc-spotify-time-left*/
  background: var(--spotify-vencord-color);
}

#vc-spotify-song-title#vc-spotify-song-title,
.vc-spotify-ellipoverflow.vc-spotify-ellipoverflow,
.vc-spotify-artist.vc-spotify-artist,
.vc-spotify-album.vc-spotify-album {
  /*, .vc-spotify-time-right, .vc-spotify-time-left*/
  color: #a5abb3;
}

#vc-spotify-player [class*="bar-"] {
  background: hsl(var(--primary-700-hsl) / 0.3);
}

#vc-spotify-player [class*="barFill"] {
  background: #a5abb3;
}

[class*="wrapper-"]:not(:empty) + #vc-spotify-player {
  margin-top: 27px;
}

[class*="panels-"] [class*="wrapper-"] [class*="container-"] {
  border-bottom: none;
}

/*hide spotify progress bar grabber*/
#vc-spotify-progress-bar > [class^="slider"] [class^="grabber"] {
  background-color: #00000000 !important;
  border-color: #00000000 !important;
}

#vc-spotify-progress-bar > [class^="slider"] [class^="grabber"]:hover {
  background-color: #bbb !important;
  border-color: #bbb !important;
}

/*-----channel emoji redesign-----*/
/*channel list emoji and hover color*/
[id="channels"] [class^="iconContainer-"] {
  display: none;
}

[id="channels"] [class^="iconContainer-"] + [class^="channelEmoji-"] {
  margin-left: -4px;
}

/*overlay color on text*/
[id="channels"] [class^="emojiColorFill-"] {
  z-index: 1;
}

/*username background*/
.headerText-2z4IhQ > span::before {
  content: "";
  width: calc(100% + 7px);
  height: 100%;
  border-radius: 5px;
  background-color: currentColor;
  opacity: 0;
  position: absolute;
  margin-top: 0px;
  z-index: -1;
  margin-left: -3px;
}

.headerText-2z4IhQ > span {
  text-shadow: 0 0 0px currentColor, 0 0 10px currentColor,
    0 0 10px currentColor;
}

.zalgo-26OfGz.cozy-VmLDNB .header-2jRmjb {
  overflow: visible;
}

/*unread channel icon reshaped*/
.unread-36eUEm {
  background-color: white;
  width: 3px;
  height: 20px;
  top: 7px;
  margin-left: 5px !important;
  margin: 0px;
  border-radius: 25%;
}

span[class="inner-26JK4f"] > * {
  display: none;
}

/*remove login artwork*/
svg.artwork-L5TAwQ {
  display: none !important;
  visibility: hidden !important;
}

/*macos/linux window controls*/
.withFrame-2dL45i {
  height: 19px;
}

.typeWindows-2-g3UY .winButton-3UMjdg > svg {
  display: none;
}

.typeWindows-2-g3UY .winButton-3UMjdg {
  top: 0px;
  width: 12px;
  height: 14px;
  margin-top: 2px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  border-radius: 5px;
}

.typeWindows-2-g3UY .winButton-3UMjdg::after {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 5px;
  filter: saturate(0);
  transition: filter 0.3s ease-in-out;
}

.typeWindows-2-g3UY .winButtonClose-3Q8ZH5::after {
  background-color: #e35149 !important;
}

.typeWindows-2-g3UY .winButtonMinMax-3RsPUg:nth-child(3)::after {
  background-color: #62c942 !important;
}

.typeWindows-2-g3UY .winButtonMinMax-3RsPUg:nth-child(4)::after {
  background-color: #edae28 !important;
}

.typeWindows-2-g3UY > div:hover::after {
  filter: none;
  transform: scale(1.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.typeWindows-2-g3UY > div:active::after {
  transform: scale(1);
}

/*hide avatar decorations only in chat*/
[class*="contents-"] [class*="avatarDecoration-"] {
  display: none;
}

/*devices in settings redesigned*/
.session-9khLqt {
  background-color: var(--background-secondary);
  border-radius: 8px;
  padding: 12px 16px;
  padding-left: 12px;
  border-bottom: none;
  margin-top: 16px;
  gap: 12px;
}

.sessionIcon-2fwSzb {
  color: var(--interactive-normal);
  background: transparent;
}

[class*="memberSinceContainer-"] {
  margin-bottom: 14px;
}

/*minimal booster indicator in member list*/
.memberInner--L4X2b:has([aria-label*="Server boosting"]) .botTag-2mryIa,
.memberInner--L4X2b [aria-label*="Server boosting"] {
  background-color: #fa71f7;
}

.memberInner--L4X2b:has(.botTag-2mryIa) [aria-label*="Server boosting"],
.memberInner--L4X2b [aria-label*="Server boosting"] > path {
  display: none;
}

.memberInner--L4X2b [aria-label*="Server boosting"] {
  width: 5px;
  height: 5px;
  border-radius: 50% !important;
  margin-bottom: 50%;
}

/*vencord toolbox icon*/
.vc-toolbox-btn svg path {
  d: path(
    "M0 0h24.5v3.5H21v3.5H17.5v3.5H14v3.5H10.5v3.5H7v3.5h17.5v3.5H0V21h3.5V17.5h3.5V14h3.5V10.5h3.5V7h3.5V3.5H0m45.5 7h17.5v3.5h-3.5v3.5h-3.5v3.5h-3.5v3.5h10.5v3.5h-17.5V24.5h3.5V21h3.5V17.5h3.5V14h-10.5m28 17.5h3.5v17.5h3.5v-3.5h3.5v3.5h-3.5v3.5h3.5v-3.5h3.5v3.5h-3.5v10.5h-3.5v3.5h-7v3.5h-3.5v3.5h3.5v-3.5h7v-3.5h3.5v7h-3.5v3.5h-7v3.5h-3.5v-3.5h-3.5v3.5h-21v-3.5h-3.5v-3.5h-3.5v-7h3.5v3.5h7v3.5h10.5v3.5h3.5v-3.5h-3.5v-3.5h-10.5v-3.5h-14v-14h3.5v-7h3.5v-3.5h3.5v-3.5h3.5v7h3.5v3.5h3.5v-3.5h3.5v3.5h-3.5v3.5h7v-7h3.5v-7h3.5v-3.5h3.5M28 49h7v3.5H31.5v14h3.5v7h3.5v3.5h3.5v3.5h3.5v3.5h14v3.5h-21v-3.5H17.5v-3.5H14v-17.5h3.5v-3.5h3.5v-7h7m59.5 10.5h3.5v10.5h-3.5v3.5h-3.5v3.5h-3.5v7h-7v-7h7v-3.5h3.5v-3.5h3.5m3.5 0h3.5v10.5h-3.5v3.5h-7v-3.5h3.5v-3.5h3.5"
  );
}

:is(.vc-toolbox-btn:hover, .vc-toolbox-btn[class*="selected"]) svg path {
  d: path(
    "M31.5 0h3.5v3.5h3.5v7h3.5v7h10.5V10.5h3.5V3.5h3.5V0h3.5v7h3.5v7h3.5v24.5h-3.5v-3.5h-10.5V31.5h3.5V21h-3.5v14h-10.5v3.5h3.5v-3.5h7v3.5h10.5v3.5h-3.5v3.5h-10.5v7h3.5v3.5h3.5v3.5h3.5v10.5h-3.5v14h-7v-3.5h-3.5v-14h-3.5v14h-3.5v3.5h-7v-14H31.5v-10.5h3.5v-3.5h3.5v-3.5h3.5v-7H31.5v-3.5H28v-3.5h10.5V21h-3.5v10.5h3.5v3.5H28v3.5H24.5V14h3.5V7h3.5M17.5 66.5h7v3.5h3.5v3.5h3.5v10.5H14v-3.5h7v-3.5H14v-7h3.5m52.5-3.5h7v3.5h3.5v7h-7v3.5h7v3.5h-17.5v-10.5h3.5v-3.5h3.5m14 10.5h14v3.5h-14"
  );
}

/*hide message timestamp until hover*/
[class*="timestampInline-"] {
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

[class^="message-"]:hover [class*="timestampInline-"] {
  opacity: 1;
}

/*custom folder icons*/
.folder-241Joy[aria-label*="Main"] .folderIconWrapper-1oRIZr {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-brand-among-us' width='24' height='24' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M10.646 12.774c-1.939 .396 -4.467 .317 -6.234 -.601c-2.454 -1.263 -1.537 -4.66 1.423 -4.982c2.254 -.224 3.814 -.354 5.65 .214c.835 .256 1.93 .569 1.355 3.281c-.191 1.067 -1.07 1.904 -2.194 2.088z' /%3E%3Cpath d='M5.84 7.132c.083 -.564 .214 -1.12 .392 -1.661c.456 -.936 1.095 -2.068 3.985 -2.456a22.464 22.464 0 0 1 2.867 .08c1.776 .14 2.643 1.234 3.287 3.368c.339 1.157 .46 2.342 .629 3.537v11l-12.704 -.019c-.552 -2.386 -.262 -5.894 .204 -8.481' /%3E%3Cpath d='M17 10c.991 .163 2.105 .383 3.069 .67c.255 .13 .52 .275 .534 .505c.264 3.434 .57 7.448 .278 9.825h-3.881' /%3E%3C/svg%3E");
  background-size: 100%;
}

.folder-241Joy .folderIconWrapper-1oRIZr {
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
  background-position: center;
}

.closedFolderIconWrapper-3tRb2d {
  display: none;
}

.folderIconWrapper-1oRIZr:not([style=""])::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: inherit;
  -webkit-mask: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/folder.svg)
    no-repeat;
  mask: url(https://capnkitten.github.io/BetterDiscord/Themes/Material-Discord/files/icons/solid/folder.svg)
    no-repeat;
  transform: scale(1.3335);
  filter: brightness(1.5) saturate(1.5);
}

/*compact channel list*/
.containerDefault-3TQ5YN {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  padding: 0px !important;
  height: 1.4em !important;
  border: 1px solid #00000000;
  border-radius: 0px;
  background-color: #00000000;
}

/*member list dividers*/
.members-3WRCEx .membersGroup-2eiWxl {
  width: calc(var(--User-List-Width) - 16px);
  font-family: var(--font-display);
  font-size: 12px;
  height: 30px;
  margin: 0px 0px 6px 8px;
  padding: 10px 0px 0px 0px;
  letter-spacing: 0.01em;
  text-align: left;
  color: var(--channels-default);
  font-weight: bold;
}

.membersGroup-2eiWxl::after {
  content: "";
  display: block;
  width: 210px;
  height: 1px;
  left: 7px;
  margin-top: 4px;
  background: #111111;
  position: absolute;
}

/*resize emoji, gif, and sticker picker*/
:root {
  --expression-picker-height: 105%;
}

.drawerSizingWrapper-1txdWG {
  bottom: 0;
  height: var(--expression-picker-height);
}

/*custom highlight color*/
::selection {
  /*text color*/
  color: #5865f2;
  /*highlight color*/
  background: #111111;
}

/*adds a clean line to seperate voice channels when there are people in vc*/
.recentMentionsPopout-2bI1ZN .messages-23can0 > button:last-of-type {
  margin-left: auto;
}

.containerDefault-YUSmu3 .list-2x9Cl9.list-2kKmFw {
  border-left: 1px solid var(--background-modifier-accent);
  border-bottom: 1px solid var(--background-modifier-accent);
  border-bottom-left-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 24px;
}

/*limit elements width to not take space above the screen width*/
div[class|="layerContainer"] :not([class*="Tooltip"]) {
  max-width: 100vw;
}

/*selected server frame*/
.blobContainer-ikKyFs {
  position: relative;
}

.blobContainer-ikKyFs:before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: 15px;
  box-shadow: 0 0 0 0 var(--brand-experiment),
    inset 0 0 0 0 var(--background-tertiary);
  transition: opacity 0.1s;
  z-index: 1;
}

.blobContainer-ikKyFs.selected-3c78Ai:before {
  content: "";
  box-shadow: 0 0 0 2px #9f62fc, inset 0 0 0 2px var(--background-tertiary),
    0 0 4px 4px rgba(159, 98, 252, 0.5);
}

.container-1eFtFS:not(:has(.scroller-1ox3I2 .unread-36eUEm))
  .listItem-3SmSlK:has(.blobContainer-ikKyFs.selected-3c78Ai)
  [class*="pill"]:has(.item-2LIpTv) {
  opacity: 0;
}

/*pencil icon*/
[class^="pencilContainer"] {
  filter: opacity(0%);
}

/*clean up user right click context menu*/
#user-context-invite-to-server,
#user-context-apps,
#user-context-note,
#user-context-call {
  display: none !important;
}

/*titlebar background*/
.bg-1QIAus {
  background-image: url("https://cdn.discordapp.com/attachments/547262490493321267/1107916968935301131/Animation-Of-Stars.gif");
  background-size: auto;
  background-repeat: no-repeat;
}

/*dark new messages mark as read*/
.newMessagesBar-1hF-9G {
  background-color: #000000bb;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.4);
  border-bottom: solid 1px #111111;
}

/*fix server list bar padding*/
nav > ul > div {
  padding-top: 8px !important;
}

/*change folder icon*/
path[d="M20 7H12L10.553 5.106C10.214 4.428 9.521 4 8.764 4H3C2.447 4 2 4.447 2 5V19C2 20.104 2.895 21 4 21H20C21.104 21 22 20.104 22 19V9C22 7.896 21.104 7 20 7Z"] {
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  d: path(
    "m6 14 1.45-2.9A2 2 0 0 1 9.24 10H20a2 2 0 0 1 1.94 2.5l-1.55 6a2 2 0 0 1-1.94 1.5H4a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2h3.93a2 2 0 0 1 1.66.9l.82 1.2a2 2 0 0 0 1.66.9H18a2 2 0 0 1 2 2v2"
  );
}
